
    input[type="text"],
    input[type="password"] {
      width: 60%;
      padding: 15px;
      margin-bottom: 22px;
      border: none;
      background: #f1f1f1;
    }

    input[type="text"]:focus,
    input[type="password"]:focus {
      background-color: #ddd;
      outline: none;
    }

    .button1 {
      background-color: #04aa6d;
      color: white;
      padding: 14px 20px;
      margin: 1px 0;
      border: none;
      cursor: pointer;
      width: 50%;
      opacity: 0.9;
	  
    }

    .button2 {
      background-color: #8e8e8e;
      border: 0;
      border-radius: 3px;
      color: #fff;
      cursor: pointer;
      box-shadow: 2px 2px 2px #111;
      width: 60%;
      height: 40px;
      text-align: left;
      position: relative;
      padding: 0;
      margin-left: 50px;
	  
    }

    .button2 span {
      font-size: 16px;
      line-height: 40px;
    }

    .button2:active {
      top: 1px;
      box-shadow: 1px 1px 2px #000;
    }

    .button2 i {
      margin-right: 10px;
    }

    .facebook {
      background-color: #3b5998;
    }

    .twitter {
      background-color: #1cb5e8;
    }

    .google {
      background-color: #393838;
    }

    .button1,.button2:hover {
      opacity: 1;
    }

    .container {
      display: flex;
    }
	
	.left-side {
		flex: 1;
		padding: 20px;
		margin-left: 160px;
}

    .right-side {
      flex: 1;
      padding: 20px;
    }
	
	.container{
		background: radial-gradient(circle at -8.9% 51.2%, rgb(255, 124, 0) 0%, rgb(255, 124, 0) 15.9%, rgb(255, 163, 77) 15.9%, rgb(255, 163, 77) 24.4%, rgb(19, 30, 37) 24.5%, rgb(19, 30, 37) 66%);
	}


  /*.......footer.........*/
footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.fottercontainer {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-links {
  list-style: none;
  padding: 0;
  margin-top: 10px;
}

.footer-links li {
  display: inline-block;
  margin: 0 5px;
}

.footer-links li a {
  color: #fff;
  text-decoration: none;
}

.footer-links li a:hover {
  text-decoration: underline;
}

.social-media-links {
  margin-top: 20px;
}

.social-media-links a {
  display: inline-block;
  margin: 0 5px;
}

.social-media-links img {
  width: 24px;
  height: 24px;
}
